.Footer p{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 25px;
    background: rgb(203, 187, 248);
    margin:0px;
    text-align: center;
}