.Weather{
    border:1px solid rgb(227, 225, 225);
    height: 25rem;
    width: 100%;
    margin:0 auto;
    padding: 2em;
}
form {
    display: flex;
    justify-content: space-between;
}
.Weather form input[type=text]{
    width: 80%;
    height: 3em;
    /* margin: 0 0  2rem 0; */
}
.Weather form input[type=submit]{
    background-color: rgb(34, 181, 222);
    /* padding: 1em auto; */
    color:#f5f5f5;
    border-radius: 4px;
    margin-left: 1em;
    height: 3em;
    width: 20%;
}
.Weather .weather-summary{
    display: flex;
    justify-content: space-between;
    color:#70757A;
    margin: 3em auto;
}
.Weather .weather-details{
    display: flex;
    font-size: 1rem;
}
 

.Weather .weather-details-phw{
    
    font-size: 0.9rem;
    padding: 1em 0 0 1em;
}

.Weather .part-one{
    text-align: left;
}
.Weather .part-two{
display: flex;
flex-direction: column;
text-align: right;
}
.weather-summary .part-two .city-name{
    color:#222;
    font-size: 1.4rem;
    margin-top: 0;
}
.Weather .weather-summary canvas{
    height: 4em;
    width: 100%;
    padding-top: 0.6em;
   
}
.Weather .weather-summary .temperature{
    font-size: 3rem;
    margin-left: 0.2em;
    color: #222;
}
.weather-summary .temperature-unit {
   display: flex;
   padding-top: 0.7em;
   margin:0 0.4em;
}
/*
.Weather .weather-summary{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.Weather .weather-summary .city-name{
    opacity: 0.5;
    margin:2px;
    font-size: 1.5rem;   
}
.Weather .weather-summary .description{
    text-transform: capitalize;
}

.Weather .wrapper{
    display: flex;
    margin: 1rem;
    margin: 1rem auto;
    padding: 1rem 0;
    width: 100%;
}
.Weather .row{
    display: flex;
    justify-content: space-around;
}
.Weather .row .col-sm-6 img, img{
height: 4rem;
width: auto;
}
.col-sm-2 {
    padding: 0 20px;
    margin: 0 20px;
}

.Weather .col-sm-2 .weeklyforecast-details{
    opacity: 0.5;
} */